body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
input
{
  outline: 0;
  cursor: text;
}

#title h1,
h2 {
  text-align: center;
  margin-bottom: 10px;
}

#title h1 {
  font-size: 30px;
}

#content {
  margin: 0 auto;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

#busca {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  #busca {
    align-items: baseline;
    display: flex;
    flex-direction: column;
  }
  #busca button {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #busca button:before {
    content: "BUSCAR";
  }
  .teal-text {
    display: none;
  }
}

#content-result {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.result {
  border: 1px solid #e0e0e0;
  width: 100%;
  margin: 5px 0 0 10px;
  padding: 0 10px 10px 10px;

}

.result:first-child {
  margin-left: 0;
}
#list-user {
  min-width: 200px;
}

#list-statistic {
  display: inline-block;
}

#content-result ul {
  list-style: none;
}

#content-result ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 25px;
  min-height: 50px;
  transition: transform 0.2s;
}

#content-result ul li:hover {
  transform: translateX(5px);
  background-color: #f9f9f9;
  cursor: text;
}

#content-result ul li:first-child {
  margin-top: 0;
}

#content-result ul li::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f1f1f1;
  transition: background-color 0.5s;
}

#content-result ul li:hover::after {
  background: #009688;
}
#list-statistic span {
  font-weight: bold;
}

img {
  width: 45px;
  height: 45px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  z-index: 1;
}
